@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  font-family: 'Roboto', sans-serif;
}

#output {
  font-size: 60px;
}

canvas {
  visibility: hidden;
  border: 1px solid black;
}